<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add Expense</h1>
    <form method="post">

        <label for="item_name">Username</label><br>
        <input type="text" id="username" name="item_name"><br><br>

        <label for="item_price">First Name</label><br>
        <input type="text" id="item_price" name="item_price"><br><br>

        <label for="description">Last Name</label><br>
        <input type="text" id="item_price" name="item_price"><br><br>

        <label for="description">Email</label><br>
        <input type="text" id="item_price" name="item_price"><br><br>

        <label for="description">Phone Number</label><br>
        <input type="text" id="item_price" name="item_price"><br><br>

        <input type="checkbox" id="use_random_id" name="use_random_id" value="1" checked>

        <label for="use_random_id">Use Random ID</label><br><br>
        <label for="product_id">Expense ID</label><br>

        <input type="text" id="product_id" name="product_id" {% if use_random_id %}readonly{% endif %} value="{{ product_id }}"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
